---
---

#screen {
	position: relative;
	width: 640px;
	height: 480px;
	background: black;
	video, canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	video {
		z-index: 1;
	}
	canvas {
		z-index: 2;
	}
	#overlay {
		position: absolute;
		border: 2px dashed yellow;
		z-index: 3;
	}
}

.hidden {
	display: none;
}